/.* export-ignore
/Tests export-ignore
/Configuration/FunctionalTests.xml export-ignore
/Configuration/UnitTests.xml export-ignore
/phpcs.xml export-ignore
/rector.php export-ignore
/ruleset.xml export-ignore
